.Parentpage{
    background-image:linear-gradient(to top ,orange,#ff5330);
}




  




.body{
    background-color: #ff5330;
}








.cover{
width: 100%;}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.navp{
    width: 100%;
    position: relative;
    display: flex;
    background-color: #ff522c;
    align-items: center;
    justify-content: space-around;
}
.ulp{
    display: flex;
    list-style: none;
    justify-content: space-around;
    gap: 41px;
    flex-wrap: wrap;
    color: white;
    font-size: larger;
    font-family: sans-serif;}

    .ulp li:hover{
        color: #ffe607;
        transition: .6s;
        cursor: pointer;
    }

    .ulp a{
        text-decoration: none;
        color: #f3f3f3;
    }
    .bagshop{
        color: #f9ff00;
        width: 30px;
        height: 30px;
        border-radius: 5px;
        cursor: pointer;
        transition: .7s;

    }


    .bagshop:hover{
        color: #fbfd7c;
      
    }

    .eatnow{
        width: 150px;
    height: 43px;
    color: white;
    border-radius: 9px;
    font-size: xx-large;
    font-family: monospace;
    cursor: pointer;

    border: 2px solid #ffe601;
    background-image: -webkit-linear-gradient(30deg, #ffd000 50%, transparent 50%);
    background-image: linear-gradient(30deg, #ffe600 50%, transparent 50%);
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: 0%;
    -webkit-transition:  300ms ease-in-out;
    transition:  300ms ease-in-out;

    }
    .eatnow:hover{
        background-position: 100%;
    background-color: transparent;
    color: #ffed49;
    }
    .bageatshop{
        display: flex;
    align-items: center;
    gap: 19px
    }
.sction{
    display: flex;
    position: relative;
    top: -205px;
}

    .slider1{
        
position: relative;
width: 950px;

    }

    .up1{
        width: 500px;
        position: static;
        margin-top: -927px;
    }
    .up1:hover{
        text-shadow: 5px 5px 5px rgb(251, 255, 0);
    }
  
        .h1 {
            position: relative;
            bottom: 523px;
            color: white;
            left: 514px;
            width: 302px;
            font-size: xxx-large;
        }




        .btn-primary {
            color: #ffffff;
            background: none;
            border: none;
        }
        .btn-primary:hover{
            background: none;
        }

        .lunch{
           color: #000000;
    display: flex;
    flex-direction: column;
    gap: 52px;
    list-style: none;
    flex-wrap: wrap;
    font-size: larger;
    font-family: sans-serif;
    cursor: pointer;



}
.lunch li:hover{
    color: #ff7300;
}


.offcanvas.offcanvas-start {
    top: 100px !important;
}

.offcanvas-header {
    display: flex;
    align-items: center;
    padding: var(--bs-offcanvas-padding-y) var(--bs-offcanvas-padding-x);
    color: rgb(0, 0, 0);
    font-family: sans-serif;
}
.offcanvas.show:not(.hiding), .offcanvas.showing {
    transform: none;
    border-radius: 41px 0 0;
}
.btn-success {
    border-radius: 50%;
    --bs-btn-bg: #000000;  
      color: #000000;
    font-size: larger;
    font-family: sans-serif;
    cursor: pointer;
    border: 2px solid #ff9101;
    background-image: -webkit-linear-gradient(30deg, #ff8800 50%, transparent 50%);
    background-image: linear-gradient(30deg, #ffd000 50%, transparent 50%);
    background-size: 654px;
    background-repeat: no-repeat;
    background-position: 0%;
    -webkit-transition:  300ms ease-in-out;
    transition:  300ms ease-in-out;
}
.btn-success:hover{
    background-position: 100%;
    background-color: transparent;
    color: #000000;
    border: 2px solid #000000;

    
}

.dropdown-menu.show {

    position: relative;
}
.dropdown-menu {
        border-radius: 100px;
        position: relative !important;
        transition: 1s;
        text-align: center;
        font-size: larger;
        background-color: #555555;
        width: 290px;
        color: rgb(0, 0, 0);
    

}
.dropdown-item {
        display: block;
        width: 99%;
        padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
        clear: both;
        font-weight: 400;
        color: #ffffff;
        text-align: inherit;
        text-decoration: none;
        white-space: nowrap;
        background-color: transparent;
        border: 0;
        border-radius: 50%;
    }



.btn-success {
   
        --bs-btn-active-bg: orange !important;
        --bs-btn-active-border-color: none !important;
        --bs-btn-active-shadow: none !;
        width: 290px;
    }
    .offcanvas {
       
        color: var(--bs-offcanvas-color);
       
        background-color: #ffffffc9;
        
    }


    .carousel-inner {
        position: relative;
        width: 100%;
        overflow: hidden;
        border-radius: 32px;}

















    .chek {
        background-color: #fff1bd;
        border: solid #ff1a1a;
        width: 400px;
        height: 1000px;
        border-radius: 20px;
    }

    .h2chek{
        font-family: sans-serif;
    text-align: center;
    position: relative;
    top: 13px;
    font-weight: bold;
    margin-bottom: 35px;

    }

    .h4chek{
        text-align: center;
    background-color: bisque;

    }

    .h1chek{
        text-align: center;
    }
    .bgbalance{
background-image: linear-gradient( to right , rgb(255, 201, 170), rgb(250, 62, 56) );    border-radius: 16px;
    }

    .btnrange {
        border: solid red;
        border-radius: 10px;
        width: 50px;
        margin: 5px;}
        .pros {
            display: flex;
            justify-content: space-around;
            align-items: flex-end;
            margin: 10px;
        }
        .pros img {
            width: 100px;
            background-color: #fb5047;
            border-radius: 29%;
        }

        .hr{
            color: #fb5047;
    border: solid 1px;
        }
        .chekout {
           width: 100%;
    border-radius: 60%;
    font-size: x-large;
    border: 2px solid #fb5047;
    background-image: linear-gradient(30deg, #ff0000b0 50%, transparent 50%);
    background-size: 954px;
    background-repeat: no-repeat;
    background-position: 0%;
    transition: 300ms ease-in-out;
}
        .chekout:hover{
            background-position: 100%;
            background-color: transparent;
            color: #ff1e00;
        }



        .total {
            font-family: sans-serif;
            font-size: x-large;
            width: 100%;
    border-radius: 60%;
    border: 2px solid #fb5047;
    background-image: linear-gradient(30deg, #ff9900b0 50%, transparent 50%);
    background-size: 954px;
    background-repeat: no-repeat;
    background-position: 0%;
    transition: 300ms ease-in-out;
}
.total:hover{
    background-position: 100%;
            background-color: transparent;
            color: #ff1e00;
}



.imgsls{
    width: 220px;border-radius: 35%;
    border: solid white;
box-shadow: 7px 14px 17px black;
}


.person1{
    width: 800px;
}
.hperson1{
   
        color: white;
        font-family: sans-serif;
        text-align: center;
        font-size: xxx-large;
        font-weight: bolder;
    
}
.himgsls{
    text-align: center;
    font-size: larger;
    font-family: sans-serif;
}
.imghs{
    
    display: flex !important;
    width: 100%;
    flex-direction: column !important;
    flex-wrap: wrap !important;
    align-content: center !important;
    gap: 15px;
    color: white;}
    .slider-container{
        margin-top: -188px;
    }

    .form-select {
        position: relative;
         width: 300px;
    background-color: white;
    border: solid 3px orange;
    font-family: sans-serif;
    font-size: x-large;
    cursor: pointer;

       }

       .form-select:hover{
        background: none;
       }

       option {
        background-color: rgba(255, 255, 255, 0.877);
        border: solid 1px rgb(255, 81, 0);
        border-radius: 20%;
       }
       .chose{
        display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    gap: 10px;

       }
       .chose button{
        width: 125px;
    height: 42px;
    background-color: orange;
    border: solid 2px white;
    border-radius: 14px;
    font-size: x-large;

       }
       .dis{
        display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;

       }
       .subscrib{
        width: 100%;
        background-image: linear-gradient(to top, #ffa22b, #ff5330);
        height: 500px;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-around;
       }

       .pconect{
        width: 100%;
        height: 500px;
        background-image: linear-gradient(to top, #fad0c5, #ffa02b);
       
       }
       .conect{
        border: solid 1px #ff5330;
        border-radius: 10%;
        background: none;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    

       }

.fot{
    
        display: flex;
        flex-direction: column;
        align-items: center;
    
}

.Footer {
        display: flex;
        width: 100%;
        height: 500px;
        background-color: #1a1a1a;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .r{
        background-image: linear-gradient(to right, #dddddd,rgb(0, 0, 0));
    }
    .co{
        filter: brightness(0.5);
    }

    .imagsres{
        width: 200px;
    }

    .imagsres img{
        width: 500px;
    }




    .contener{
        display: inline;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        justify-content: space-around;
        
        
       
       width: 400px;
     height: 400px;
     background-color: rgb(255 255 255 / 45%);
     border-radius: 10%;
     box-shadow: 5px 2px 10px gray;
     perspective: 500px;
     }
     
    
     .box{ position: relative;
        
        width: 320px;
        height: 320px;
        transform-style: preserve-3d;
        transition: transform 1s;
     }
    
    
    .box:hover {
    transform:translateX(-0%) rotatey(-180deg);
    }
    
    
    
     .box .face{ 
        width: 100%;
        height: 100%;
        color: aliceblue;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-size: larger;
        border-radius: 50%;
        box-shadow: 6px 2px 10px gray;
      backface-visibility: hidden;
    
     }
    
    
    
    
     .box .front{ 
        width: 100%;
        height: 100%;
        background-color: var(--bs-primary);
        color: aliceblue;
        position: absolute;
        display: flex;
        justify-content: center; 
        align-items: center;
        font-weight: bold;
        font-size: larger;
        border-radius: 50%;
        box-shadow: 6px 2px 10px gray;
       
    
     }
    
     .box .front img{
        width: 100%;
        height: 100%;
        border-radius: 20%;
    
     }
    
    
    
    
    
     .box .back{ 
        width: 100%;
      height: 100%;
      background-color: #f9fafb;
      color: aliceblue;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      font-size: larger;
      border-radius: 50%;
      box-shadow: 6px 2px 10px gray;
      transform: rotatey(180deg);
      color: blue;
    }
    
    .box .back img{
        width: 100%;
        height: 100%;
        border-radius: 20%;
    
     }
    
    .parentcontener{position: relative;
     display: flex;
     justify-content: space-around;
     flex-wrap: wrap;
     margin-bottom: 19px;
     gap: 10px;
    
    }
    .bdyres{
        background-image:linear-gradient(to top, black,white);
    }    


    .discoverrom img{
        width: 300px;
        height: 400px;
        cursor: pointer;
        transition: .4s;
        border-radius: 20px;
        transition: 1s;
    
    }
    .discoverrom h4 {
        opacity: 30%;
        position: relative;
        bottom: 100px;
        text-align: center;
        color: white;
        transition: 1s;
    }
    
    .discoverrom h5 {
        opacity: 0%;
        position: relative;
        bottom: 100px;
        text-align: center;
        color: white;
        transition: 1s;
    }
    
    .discoverrom img:hover{
        box-shadow: 1px 1px 10px white;
        filter: brightness(0.5);
    
    }
    .discoverrom div:hover h4{
    opacity: 100%;
    bottom: 180px;
    }
    .discoverrom div:hover h5{
        opacity: 100%;
        bottom: 150px;
        }
    
    .discover ,.discoverrom{
       
            position: relative;
            width: 100%;
            height: 500px;
            background-image: linear-gradient(#c5c5c5,#2f3b47);
    
            margin-bottom: 35px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
        }
    
    
    
    
    
    
    .discover img{
        width: 300px;
        height: 200px;
        cursor: pointer;
        transition: .4s;
        border-radius: 20px 
    
    }
    
    .discover img:hover{
       box-shadow: 1px 1px 10px white;
    }
    .discover h4{
        position: relative;
        color: black;
        background-color: white;
        width: 83px;
        text-align: center;
        border-radius: 20px;
        bottom: 22px;
        transition: .3s;
        cursor: pointer;
    
    }
    
    .discover h4:hover{
        background-color: rgb(91, 181, 255);
        color: rgb(255, 255, 255);
    
    
    }
    
    
    
    .discoverh1{
        position: relative;
        text-align: center;
        color: white;
        background-image: linear-gradient(#c5c5c5,#2f3b47);
        width: 100%;
    
    }
    .resll{
        width: 500px;
height: 100px;
    }


.resll img{
width: 500px;
height: 100px;
}
.cover-log{
        width: 100%;
        height: 100%;
        filter: blur(3px);
    }
.psgin{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.pfrm1{
    position:absolute;
    display: flex;
    border: solid 5px #0037ff;
    border-radius: 50px;
   
    background-image: linear-gradient(to top, #00f3ff4a, #313a7194);}
.frm1{
    display: flex;
    position: relative;
   
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-family: sans-serif;
    font-size: xx-large;

}
.frm1 button{
    width: 150px;
    height: 50px;
    background-image: linear-gradient(to top, #00f3ff4a, #313a7194);
    border: solid 4px blue;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    box-shadow: 1px 2px 6px rgb(0, 0, 0);


}


.frm1 button:hover{
    box-shadow: none;
}
.frm1 input{
    border: solid 4px #aebefa;
    background: none;
    border-radius: 43px;
    border-top: none;
    color: white;
    box-shadow: 1px 2px 6px rgb(0, 0, 0);

    

}

.frm1 input:hover{
    border-top: solid 4px #aebefa;
    box-shadow: none;

}
.eatslect{
    background: none;
    color: white;
    border-radius: 40px;
    border: solid 4px  #aebefa ;
}

.eatslect option{
    background-color: #4a5dbf;
}


.congra{
    color: white;
    position: absolute;
    border: solid 4px blue;
    border-radius: 25px;
    background-image: linear-gradient(to top, #00f2ff9c, #313a71);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;}



    @media screen and (max-width:1000px){
    
    
    
    
    
    
        .up1{
          
            width: 200px;
            position: static;
            margin-top: -227px;
        }


        .h1 {
            position: relative;
            bottom: 223px;
            color: white;
            left: 214px;
            font-size: x-large;
        }
    
    .sction{
        margin-top: -88px;
        top: 0;
    }
    .slider1{
        bottom: 0;

    }
    .ulp{
        display: none;}
        .offcanvas {
            --bs-offcanvas-width: 300px;}
            .btn-success {
               
                width: 228px;}
                .offcanvas-body {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: flex-end;
                }
                .dropdown-menu {
                    
                    
                    width: 250px;
                  
                }
    
                .person1{
                    width: 100%;
                }
                .slider-container{
                    margin-top: -40px;
                }
    }